@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client;
@using blazor_client_app.Chat

<h1 class="header"><img src="img/blazor.png" width="50" height="50" alt="" /> MultiChat</h1>

<div class="container">
    <div>
        @status
    </div>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div class="msg_history">
                    <div>
                        @foreach (var msg in messages)
                        {
                            @if (@msg.IsReceived)
                            {
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>
                                                @msg.Message
                                            </p>
                                            <span class="time_date"> @msg.DateAsText </span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (@msg.IsSent)
                            {
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>
                                            @msg.Message
                                        </p>
                                        <span class="time_date"> @msg.DateAsText</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message"
                               @bind="@newMessage"
                               @oninput="@((changeEa) => this.newMessage = (string)changeEa.Value)"
                               @onkeydown="@EnterAsnyc" />
                        <button class="msg_send_btn" type="button" @onclick="@(() => SendAsync(newMessage))">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
